.service-card {
    width: 300px;
    border: 2px solid #1eff29;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 10px 70px;
}
.service-card p {
    font-size: 18px;
    padding: auto;
}