*{
    font-family:cursive, sans-serif;
}

body{
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:900px;
}

.card{
    width:425px;
    background:white;
    border-radius:20px;
    overflow:auto;
}

.card-header{
    background:#37f6e8;
    text-align:center;
    padding:25px;
    font-size:26px;
    font-weight:bold;
    position:relative;
}

.hot{
    position:absolute;
    top:10px;
    right:10px;
    background:red;
    color:white;
    padding:6px 14px;
    border-radius:20px;
    font-size:14px;
}

.card-body{
    padding:25px;
}

.card-body p{
    border-bottom:1px solid #ddd;
    padding:12px 0;
    margin:0;
    font-size:17px;

}

.card-body span{
    color:#00c853;
    font-weight:bold;
}

.card-footer{
    padding:25px;
    text-align:center;
}

.card-footer button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:30px;
    background:#00d9ff;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

.card-footer button:hover{
    background:#00bcd4;
}



